################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/cah-csharp/.vs
/cah-csharp/cah.blazor/bin/Debug/net7.0/Blazored.LocalStorage.dll
/cah-csharp/cah.blazor/bin/Debug/net7.0/cah.blazor.dll
/cah-csharp/cah.blazor/bin/Debug/net7.0/cah.blazor.exe
/cah-csharp/cah.blazor/bin/Debug/net7.0/cah.blazor.pdb
/cah-csharp/cah.blazor/bin/Debug/net7.0/cah.blazor.runtimeconfig.json
/cah-csharp/cah.blazor/bin/Debug/net7.0/Microsoft.Extensions.Options.dll
/cah-csharp/cah.blazor/bin/Debug/net7.0/Microsoft.Extensions.Features.dll
/cah-csharp/cah.blazor/bin/Debug/net7.0/Microsoft.AspNetCore.SignalR.Protocols.Json.dll
/cah-csharp/cah.blazor/bin/Debug/net7.0/Microsoft.AspNetCore.SignalR.Common.dll
/cah-csharp/cah.blazor/bin/Debug/net7.0/Microsoft.AspNetCore.SignalR.Client.dll
/cah-csharp/cah.blazor/bin/Debug/net7.0/Microsoft.AspNetCore.SignalR.Client.Core.dll
/cah-csharp/cah.blazor/bin/Debug/net7.0/Microsoft.AspNetCore.Metadata.dll
/cah-csharp/cah.blazor/bin/Debug/net7.0/Microsoft.AspNetCore.Http.Connections.Common.dll
/cah-csharp/cah.blazor/bin/Debug/net7.0/Microsoft.AspNetCore.Http.Connections.Client.dll
/cah-csharp/cah.blazor/bin/Debug/net7.0/Microsoft.AspNetCore.Connections.Abstractions.dll
/cah-csharp/cah.blazor/bin/Debug/net7.0/Microsoft.AspNetCore.Components.dll
/cah-csharp/cah.blazor/bin/Debug/net7.0/Microsoft.AspNetCore.Authorization.dll
/cah-csharp/cah.blazor/bin/Debug/net7.0/cah.services.pdb
/cah-csharp/cah.blazor/bin/Debug/net7.0/cah.services.dll
/cah-csharp/cah.blazor/bin/Debug/net7.0/cah.models.pdb
/cah-csharp/cah.blazor/bin/Debug/net7.0/cah.models.dll
/cah-csharp/cah.blazor/obj
/cah-csharp/cah.models/bin/Debug
/cah-csharp/cah.models/obj
/cah-csharp/cah.services/bin/Debug
/cah-csharp/cah.services/obj
/cah-csharp/cah.tests/bin/Debug
/cah-csharp/cah.tests/obj
