
<div class="card white-card white-card-anim" id="id" draggable="true" @ondragstart="@((e) => HandleDragStart(e, WhiteCard))">   
    @WhiteCard.text
    <img class="bottom-logo" src="img/iconW.png" />    
</div>

